<div class="flex container">
  <div class="flex flex-item-1 flex-column section">
    <div class="success-field">
      <span>Target Name</span>
      <br>
      <span class="code-face">{{ (target$ | async).target }}</span>
    </div>

    <div class="success-field">
      <span>Partner</span>
      <br>
      <span class="code-face">{{ (target$ | async).partner }}</span>
    </div>

    <div class="success-field">
      <span>Protein Class</span>
      <br>
      <span class="code-face">{{ (target$ | async).protein_class_pk }}</span>
    </div>

    <div class="success-field">
      <span>Notes</span>
      <ng-container [ngSwitch]="(target$ | async).notes.length">
        <div *ngSwitchCase="0">---</div>
        <div *ngSwitchDefault class="code-face">{{ (target$ | async).notes }}</div>
      </ng-container>
    </div>

    <div class="success-field">
      <span>Project Name</span>
      <br>
      <span class="code-face">{{ (target$ | async).project_name }}</span>
    </div>
  </div>

  <div class="flex flex-item-1 flex-column section">
    <ng-container *ngFor="let subunit of (target$ | async).subunits">
      <mat-expansion-panel class="subunit-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>Sub Unit Name: <span class="code-face">{{ subunit.subunit_name }}</span></span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
          <div class="flex flex-item-1 flex-column">
            <span>Number copies of this subunit in the target: </span><span
              class="code-face">{{ subunit.copies }}</span>
            <br>
            <span>Amino acid sequence</span>
            <div class="success-text code-face">{{ subunit.amino_acid_sequence }}</div>
            <br>
            <span>DNA sequence</span>
            <div class="success-text code-face">{{ subunit.dna_sequence }}</div>
          </div>
        </mat-panel-description>
      </mat-expansion-panel>

    </ng-container>
  </div>
</div>

<h3 class="flex flex-item flex-row section">Sub Unit Interactions</h3>
<div class="flex flex-item flex-row section">
  <table>
    <tr>
      <th>Sub Unit Name</th>
      <th>Copy #</th>
      <th>Interaction Type</th>
      <th>Sub Unit Name</th>
      <th>Copy #</th>
    </tr>
    <tr *ngFor="let interaction of this.interactions">
      <td>{{ interaction.subunit_one_name }}</td>
      <td>{{ interaction.subunit_one_copy }}</td>
      <td>{{ interaction.interaction }}</td>
      <td>{{ interaction.subunit_two_name }}</td>
      <td>{{ interaction.subunit_two_copy }}</td>
    </tr>
  </table>
</div>

<h3 class="flex-flex-item flex-row section">Post Translation Modifications</h3>
<div class="flex flex-item flex-row section">
  <table>
    <tr>
      <th>Sub Unit Name</th>
      <th>Residue Number</th>
      <th>Sub Unit Name</th>
      <th>Residue Number</th>
      <th>Post Translational Modication</th>
    </tr>
    <tr *ngFor="let ptm of this.ptms">
      <td>{{ ptm.subunit_one_name }}</td>
      <td>{{ ptm.subunit_one_residue }}</td>
      <td>{{ ptm.subunit_two_name }}</td>
      <td>{{ ptm.subunit_two_residue }}</td>
      <td>{{ ptm.ptm }}</td>
    </tr>
  </table>
</div>
