<form class="flex container" [formGroup]="targetForm">
  <div class="flex flex-item flex-column section">
    <label class="label-block" for="target">Target Name</label>
    <input [class.error-icon]="target.touched && target.invalid" [class.success-icon]="target.valid" type="text" id="target" formControlName="target" required>
    <div class="error-msg" *ngIf="target.touched && target.invalid">Target name is required.</div>

    <label class="label-block" for="partner">Partner</label>
    <input [class.error-icon]="partner.touched && partner.invalid" [class.success-icon]="partner.valid" type="text" id="partner" formControlName="partner" required>
    <div class="error-msg" *ngIf="partner.touched && partner.invalid">Partner is required.</div>

    <label class="label-block" for="protein-class">Protein Class</label>
    <!-- @TODO add real class names to select-->
    <!-- @TODO add values and validation to select -->
    <select id="protein-class" formControlName="proteinClass">
      <option>Class 1</option>
      <option>Class 2</option>
      <option>Class 3</option>
    </select>
    <div class="error-msg" *ngIf="proteinClass.touched && proteinClass.invalid">Select a protein class.</div>

    <label class="label-block" for="notes">Notes</label>
    <textarea id="notes" rows="3" formControlName="notes"></textarea>

    <label class="label-block" for="project">Project Name</label>
    <input [class.error-icon]="project.touched && project.invalid" [class.success-icon]="project.valid"  type="text" id="project" formControlName="project" required>
    <div class="error-msg" *ngIf="project.touched && project.invalid">Project name is required.</div>

    <div>
      <button class="btn btn-form" (click)="targetForm.reset()">Cancel</button>
      <button class="btn btn-form" (click)="onSubmit()" [disabled]="!targetForm.valid">Save</button>
    </div>

  </div>

  <div class="flex-item section">
    <!--@TODO design better form validation UI for subforms-->
    <!-- @TODO Add delete controls, but min. of one subunit must be defined -->
    <div formArrayName="subunits" *ngFor="let unit of subunits.controls; let i = index;">
      <div [formGroupName]="i">
        <div class="margin-top">
          <label for="name">Subunit name:&nbsp;</label>
          <input id="name" type="text" formControlName="name">
        </div>

        <div class="margin-top">
          <label for="copies">Number copies of this subunit in the target:&nbsp;</label>
          <input id="copies" type="number" formControlName="copies">
        </div>

        <br>
        <button class="btn">Add subunit amino acid FASTA file</button>
        <button class="btn">Add codon optimized DNA FASTA file</button>
      </div>
      <hr>
      <!-- @TODO style divider between subunit forms-->
    </div>

    <button class="btn btn-form" (click)="addSubUnit()">Add Another Sub Unit</button>
  </div>
</form>

{{ targetForm.value | json }}
isValid: {{ targetForm.valid }}
