.target-detail-card {
  height: 400px;
  width: 400px;
  background-color: #e3e3e3;
  padding: 10px;
  margin: 10px 10px 10px 10px;
}

.target-detail-subunit-top
{
  height: 15%;
  width: 100%;
}

.target-detail-subunit-name {
  height: 60%;
  width: 35%;
}

.target-detail-subunit-name-1 {
  font-weight: bold;
  font-size: 1.0rem
}

.target-detail-subunit-name-2 {
  font-size: 0.6rem;
  color: #535353;
}

.target-detail-subunit-copy {
  height: 60%;
  width: 15%;
}

.target-detail-subunit-copy-1 {
  font-weight: bold;
  font-size: 1.0rem
}

.target-detail-subunit-copy-2 {
  font-size: 0.6rem;
  color: #535353;
}

.target-detail-aa-sequence {
  height: 30%;
  width: 100%;
}

.target-detail-aa-sequence-1 {
  height: 15%;
  width: 100%;
  font-size: 0.6rem;
  color:#535353;
}

.target-detail-aa-sequence-2 {
  height: 80%;
  width: 100%;
  white-space: normal;
  overflow-wrap: break-word;
  font-weight: bold;
  font-size: 8pt;
  overflow-y: auto;
}

.target-detail-dna-sequence {
  height: 45%;
  width: 100%;
}

.target-detail-dna-sequence-1 {
  height: 12%;
  width: 100%;
  font-size: 0.6rem;
  color: #535353;
}

.target-detail-dna-sequence-2 {
  height: 83%;
  width: 100%;
  white-space: normal;
  overflow-wrap: break-word;
  font-weight: bold;
  font-size: 8pt;
  overflow-y: auto;
}
