
<div>
  <mat-card class="target-detail-card" fxLayout="column" fxLayoutGap="10px" *ngFor="let subunit of (subunits$ | async)">
    <div class="target-detail-subunit-top" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="target-detail-subunit-name" fxLayout="column">
        <div class="target-detail-subunit-name-1">
          {{subunit.subunit_name}}
        </div>
        <div class="target-detail-subunit-name-2">
          Sub Unit Name
        </div>
      </div>
      <div class="target-detail-subunit-copy" fxLayout="column">
        <div class="target-detail-subunit-copy-1">
          {{subunit.copies}}
        </div>
        <div class="target-detail-subunit-copy-2">
          {{subunit.copies > 1 ? 'Copies' : 'Copy'}}
        </div>
      </div>
    </div>

    <div class="target-detail-aa-sequence" fxLayout="column">
      <div class="target-detail-aa-sequence-1" fxLayout="row" fxLayoutAlign="end">
        <div>
          Amino acid sequence
        </div>
      </div>
      <div class="target-detail-aa-sequence-2">
        {{subunit.amino_acid_sequence}}
      </div>
    </div>

    <div>
      <hr>
    </div>

    <div class="target-detail-dna-sequence" fxLayout="column">
      <div class="target-detail-dna-sequence-1" fxLayout="row" fxLayoutAlign="end">
        <div>
          DNA sequence
        </div>
      </div>
      <div class="target-detail-dna-sequence-2">
        {{subunit.dna_sequence}}
      </div>
    </div>
  </mat-card>
</div>
