header {
  width: 100%;
  height: 90px;
  background-color: #e3e3e3;
  padding: 5px;
}

header button {
  margin-left: 40px;
  background-color: #b3b3b3;
  font-weight: bold;
}

.mat-radio-button {
  height: 25px;
}

.mat-radio-group {
  margin-top: -22px;
}

#downloadMode {
  width: 13%;
  margin-right: 40px;
}
