<header class="flex">
  <button class="btn-mat-menu" mat-button [matMenuTriggerFor]="menu">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none" />
      <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" /></svg>
    </button>
  <mat-menu #menu="matMenu">
    <button class="btn-mat-menu" mat-menu-item routerLink="/add-target">Register a new target</button>
    <button class="btn-mat-menu" mat-menu-item>Test</button>
  </mat-menu>

  <h1 class="header-title">{{title}}</h1>
  <!-- @TODO show/hide Log out button if logged in -->
  <button class="btn btn-nav">Log Out</button>
</header>

<router-outlet></router-outlet>
