header {
  width: 100%;
  height: 60px;
  background-color: #c3c3c3;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-weight: normal;
  margin: 0;
}
