@import url("https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./node_modules/@ag-grid-community/all-modules/dist/styles/ag-grid.scss";
@import "./node_modules/@ag-grid-community/all-modules/dist/styles/ag-theme-balham/sass/ag-theme-balham.scss";

/* global styles */
* {
  font-family: "Roboto", Arial, sans-serif;
  color: #282828;
}

.code-face {
  font-family: "Source Code Pro", monospace;
}

body {
  margin: 0;
}

/* flexbox */
.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-vertical-center {
  display: flex;
  align-items: center;
  height: 100vh;
}

.flex-item-1 {
  flex: 1;
}

.flex-item {
  flex: 2;
}

.flex-fill {
  display: flex;
  justify-content: stretch;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

/* Helpers */
.container {
  margin: 5px;
}

.section {
  padding: 0.5em 3em;
}

.margin-top {
  margin-top: 25px;
}

.margin-bottom {
  margin-bottom: 15px;
}

.padding-left-1 {
  padding-left: 10px;
}

.padding-right-1 {
  padding-right: 10px;
}

.padding-bottom-1 {
  padding-bottom: 10px;
}

.padding-top-1 {
  padding-top: 10px;
}

/* Icons */
.icon-red {
  fill: #f78885;
}

.delete-icon {
  margin: 2rem;
}

/* Button */
.btn {
  font-size: 12px;
  align-items: center;
  padding: 8px 16px;
  margin-top: 16px;
  margin-right: 8px;
  border-radius: 4px;
  border: none;
  cursor: arrow;
}

.btn-nav {
  color: #ffffff;
  background-color: #282828;
}

.btn-mat-menu {
  background-color: #c3c3c3;
  border: none;
}

.btn-form {
  background-color: #ffffff;
  border: 1px solid #c3c3c3;
}

.btn-login {
  position: relative;
  display: block;
  background-color: #c3c3c3;
}

.btn:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Form */
form input,
form textarea,
form select {
  height: 2rem;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0.25rem 0 0 0;
  line-height: 1.25rem;
}

form input:focus,
form textarea:focus {
  border-color: #282828;
}

form input,
form select,
form textarea {
  border: 1px solid #c3c3c3;
  box-shadow: 0px;
}

form input[type="file"] {
  border: 0;
  outline: none;
}

form select {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjQsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTAwcHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMDAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnPg0KCTxwYXRoIGZpbGw9IiM1OTU5NTkiIGQ9Ik03NS43NDksMzcuNDY2YzAuNDI1LDAuNDI1LDAuNTUyLDEuMDYzLDAuMzIyLDEuNjE4Qzc1Ljg0MSwzOS42MzksNzUuMzAxLDQwLDc0LjY5OSw0MGgtNDkuNA0KCQljLTAuNiwwLTEuMTQzLTAuMzYyLTEuMzcyLTAuOTE3Yy0wLjIzLTAuNTU1LTAuMTAzLTEuMTkzLDAuMzIyLTEuNjE4bDIzLjQ0LTIzLjQ0YzEuMjc2LTEuMjc2LDMuMzQzLTEuMjc2LDQuNjIsMEw3NS43NDksMzcuNDY2DQoJCUw3NS43NDksMzcuNDY2eiBNMjQuMjUsNjIuNTM0Yy0wLjQyNi0wLjQyNS0wLjU1My0xLjA2My0wLjMyMy0xLjYxOGMwLjIzLTAuNTU1LDAuNzctMC45MTYsMS4zNy0wLjkxNkg3NC43DQoJCWMwLjYwMiwwLDEuMTQzLDAuMzU5LDEuMzczLDAuOTE2YzAuMjMsMC41NTUsMC4xMDMsMS4xOTMtMC4zMjIsMS42MThMNTIuMzEsODUuOTc3Yy0xLjI3NSwxLjI3NS0zLjM0NCwxLjI3NC00LjYyLDBMMjQuMjUsNjIuNTM0eg0KCQkiLz4NCjwvZz4NCjwvc3ZnPg0K");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 0.9rem;
  width: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Input */
label {
  font-size: 13px;
  margin-bottom: 8px;
  margin-top: 16px;
}

.label-block {
  display: block;
}

.ng-invalid:not(.ng-untouched) {
  border-color: #f78885;
}

.error-alert {
  color: #f78885;
  font-size: 1rem;
  padding-top: 25px;
  padding-left: 25px;
}

.error-msg {
  color: #f78885;
  font-size: 0.75rem;
  margin-top: 10px;
}

.error-icon {
  padding-right: 24px;
  background-image: url("./assets/icons/baseline-error_outline-24px.svg");
  background-position: right center;
  background-repeat: no-repeat;
}

.success-icon {
  padding-right: 24px;
  background-image: url("./assets/icons/baseline-done-24px.svg");
  background-position: right center;
  background-repeat: no-repeat;
}

/* Table */
table {
  /* border: 2px solid #c3c3c3; */
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto;
}

td {
  border: 1px solid #c3c3c3;
  padding: 10px 20px;
  margin: 0;
}

th {
  font-weight: 200;
  text-align: center;
  padding: 10px;
}

tr {
  text-align: left;
}

.standard-modalbox {
  mat-dialog-container {
    padding: 0;
  }
}

/* Needed to remove nasty 24pt white border around the error dialog modals caused by angular material! */
/* Also nicely removes ugly scrollbars from ag-Grid column filter menus! */
/* Also removes scrollbars from ag-Grid when configured with domLayout="autoHeight".
::-webkit-scrollbar {
  width: 0px;
}

/* Required for ag-Grid set filters due to reckless label styling at line 179 that overrode ag-Grid's styling! */
label.ag-set-filter-item  {
  margin: 0px 0px 16px 0px !important;
}

/* Needed to remove annoying blue border displayed by chrome when a button is clicked. */
button:focus {
  outline:0;
}

/* Overrides the ag-Grid's default column header style for the target-detail page. */
.target-detail-header {
  font-weight: normal;
}
