<header class="flex">
  <button class="btn-mat-menu" mat-button [matMenuTriggerFor]="menu">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none" />
      <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" /></svg>
  </button>
  <h1 class="header-title">Welcome to the Protein Target Database</h1>
  <button class="btn btn-nav" (click)="logout()">Log Out</button>


</header>
<mat-menu #menu="matMenu">
  <!-- <button mat-menu-item routerLink="/">Home</button> -->
  <button mat-menu-item routerLink="/home/add-target">Register new target</button>
</mat-menu>

<router-outlet></router-outlet>
