header {
  width: 100%;
  height: 45px;
  background-color: red;
  justify-content: flex-start;
  align-items: center;
}

header div {
  color: #d3d3d3;
  background-color: red;
  padding-left: 20px;
}

section {
  width: 100%;
  height: 100px;
  background-color: #d3d3d3;
}

section div {
  color: #666666;
  background-color: #d3d3d3;
  padding-left: 20px;
  padding-top: 20px;
}

footer {
  width: 100%;
  height: 45px;
  background-color: #d3d3d3;
  justify-content: flex-end;
  align-items: center;
}

footer span {
  color: #666666;
  background-color: #d3d3d3;
  padding-right: 20px;
}