header {
  width: 100%;
  height: 45px;
  background-color: red;
  justify-content: flex-start;
  align-items: center;
  font-size: 150%;
}

header div {
  color: #e8e8e8;
  background-color: red;
  padding-left: 20px;
}

section {
  width: 100%;
  background-color: #e8e8e8;
  flex-direction: column;
}

section div {
  color: #666666;
  background-color: #e8e8e8;
  padding: 20px 20px 0px 20px;
}

footer {
  width: 100%;
  height: 45px;
  background-color: #e8e8e8;
  justify-content: flex-end;
  align-items: center;
}

footer span {
  color: #666666;
  background-color: #e8e8e8;
  padding-top: 20px;
  padding-right: 20px;
  cursor: pointer;
}