<header fxLayout="row" fxLayoutAlign="start center">
  <div>
    <button mat-button (click)="onBackToSearch()">Back To Search</button>
    <button mat-button (click)="onBackToDetails()">Back To Details</button>
  </div>
</header>

<div style="width: 100%;" fxLayout="row" fxLayoutAlign="space-between center">

  <mat-radio-group style="width: 20%;" fxLayout="column" fxLayoutAlign="start start" fxFlexAlign="start">
      <mat-radio-button #proteinPropertiesButton [value]="'protein'" *ngIf="(propertyData$ | async).protein as proteinPropertyList"
        (change)="OnPropertySelectionChange(proteinPropertyList)">{{proteinPropertyList.name}}</mat-radio-button>
      <mat-radio-button *ngFor="let subunitPropertyList of (propertyData$ | async).subunits; let subunitIndex = index"
        [value]="subunitIndex" (change)="OnPropertySelectionChange(subunitPropertyList)">{{subunitPropertyList.name}}</mat-radio-button>
  </mat-radio-group>

  <div style="width: 75%;">
      <ag-grid-angular
        #targetPropertyGrid
        style="width: 100%;"
        class="ag-theme-balham"
        [rowData]="propertyListData$ | async"
        [domLayout]="domLayout"
        [columnDefs]="propertyColumnDefs"
        [modules]="modules"
      >
    </ag-grid-angular>
  </div>

</div>
