<header fxLayout="row" fxLayoutAlign="start center">
  <div>
    <button mat-button (click)="onBackToSearch()">Back To Search</button>
    <button mat-button (click)="onBackToDetails()">Back To Details</button>
  </div>
</header>

<div style="width: 100%;" fxLayout="row" fxLayoutAlign="space-evenly start">

  <mat-radio-group style="width: 20%;" fxLayout="column" fxLayoutAlign="start start" fxFlexAlign="start">

      <!-- This long list is necessitated by Angular material radio buttons' intolerance of structural directives. -->
      <mat-radio-button id="propList0" [value]="'0'" style="visibility: hidden" #proteinPropertiesButton
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[0]?.name}}</mat-radio-button>

      <mat-radio-button id="propList1" [value]="'1'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[1]?.name}}</mat-radio-button>
      <mat-radio-button id="propList2" [value]="'2'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[2]?.name}}</mat-radio-button>
      <mat-radio-button id="propList3" [value]="'3'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[3]?.name}}</mat-radio-button>
      <mat-radio-button id="propList4" [value]="'4'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[4]?.name}}</mat-radio-button>
      <mat-radio-button id="propList5" [value]="'5'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[5]?.name}}</mat-radio-button>

      <mat-radio-button id="propList6" [value]="'6'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[6]?.name}}</mat-radio-button>
      <mat-radio-button id="propList7" [value]="'7'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[7]?.name}}</mat-radio-button>
      <mat-radio-button id="propList8" [value]="'8'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[8]?.name}}</mat-radio-button>
      <mat-radio-button id="propList9" [value]="'9'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[9]?.name}}</mat-radio-button>
      <mat-radio-button id="propList10" [value]="'10'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[10]?.name}}</mat-radio-button>

      <mat-radio-button id="propList11" [value]="'11'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[11]?.name}}</mat-radio-button>
      <mat-radio-button id="propList12" [value]="'12'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[12]?.name}}</mat-radio-button>
      <mat-radio-button id="propList13" [value]="'13'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[13]?.name}}</mat-radio-button>
      <mat-radio-button id="propList14" [value]="'14'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[14]?.name}}</mat-radio-button>
      <mat-radio-button id="propList15" [value]="'15'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[15]?.name}}</mat-radio-button>

      <mat-radio-button id="propList16" [value]="'16'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[16]?.name}}</mat-radio-button>
      <mat-radio-button id="propList17" [value]="'17'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[17]?.name}}</mat-radio-button>
      <mat-radio-button id="propList18" [value]="'18'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[18]?.name}}</mat-radio-button>
      <mat-radio-button id="propList19" [value]="'19'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[19]?.name}}</mat-radio-button>
      <mat-radio-button id="propList20" [value]="'20'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[20]?.name}}</mat-radio-button>

      <mat-radio-button id="propList21" [value]="'21'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[21]?.name}}</mat-radio-button>
      <mat-radio-button id="propList22" [value]="'22'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[22]?.name}}</mat-radio-button>
      <mat-radio-button id="propList23" [value]="'23'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[23]?.name}}</mat-radio-button>
      <mat-radio-button id="propList24" [value]="'24'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[24]?.name}}</mat-radio-button>
      <mat-radio-button id="propList25" [value]="'25'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[25]?.name}}</mat-radio-button>

      <mat-radio-button id="propList26" [value]="'26'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[26]?.name}}</mat-radio-button>
      <mat-radio-button id="propList27" [value]="'27'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[27]?.name}}</mat-radio-button>
      <mat-radio-button id="propList28" [value]="'28'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[28]?.name}}</mat-radio-button>
      <mat-radio-button id="propList29" [value]="'29'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[29]?.name}}</mat-radio-button>
      <mat-radio-button id="propList30" [value]="'30'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[30]?.name}}</mat-radio-button>

      <mat-radio-button id="propList31" [value]="'31'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[31]?.name}}</mat-radio-button>
      <mat-radio-button id="propList32" [value]="'32'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[32]?.name}}</mat-radio-button>
      <mat-radio-button id="propList33" [value]="'33'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[33]?.name}}</mat-radio-button>
      <mat-radio-button id="propList34" [value]="'34'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[34]?.name}}</mat-radio-button>
      <mat-radio-button id="propList35" [value]="'35'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[35]?.name}}</mat-radio-button>

      <mat-radio-button id="propList36" [value]="'36'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[36]?.name}}</mat-radio-button>
      <mat-radio-button id="propList37" [value]="'37'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[37]?.name}}</mat-radio-button>
      <mat-radio-button id="propList38" [value]="'38'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[38]?.name}}</mat-radio-button>
      <mat-radio-button id="propList39" [value]="'39'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[39]?.name}}</mat-radio-button>
      <mat-radio-button id="propList40" [value]="'40'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[40]?.name}}</mat-radio-button>

      <mat-radio-button id="propList41" [value]="'41'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[41]?.name}}</mat-radio-button>
      <mat-radio-button id="propList42" [value]="'42'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[42]?.name}}</mat-radio-button>
      <mat-radio-button id="propList43" [value]="'43'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[43]?.name}}</mat-radio-button>
      <mat-radio-button id="propList44" [value]="'44'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[44]?.name}}</mat-radio-button>
      <mat-radio-button id="propList45" [value]="'45'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[45]?.name}}</mat-radio-button>

      <mat-radio-button id="propList46" [value]="'46'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[46]?.name}}</mat-radio-button>
      <mat-radio-button id="propList47" [value]="'47'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[47]?.name}}</mat-radio-button>
      <mat-radio-button id="propList48" [value]="'48'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[48]?.name}}</mat-radio-button>
      <mat-radio-button id="propList49" [value]="'49'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[49]?.name}}</mat-radio-button>
      <mat-radio-button id="propList50" [value]="'50'" style="visibility: hidden"
        (change)="OnPropertyListSelectionChange($event)">{{propertyLists[50]?.name}}</mat-radio-button>

  </mat-radio-group>

  <div style="width: 75%;">
      <ag-grid-angular
      #targetPropertyGrid
      style="width: 100%;"
      class="ag-theme-balham"
      [rowData]="propertyListGridData$ | async"
      [domLayout]="domLayout"
      [columnDefs]="propertyColumnDefs"
      [modules]="modules"
      >
    </ag-grid-angular>
  </div>

</div>

<!-- <ng-container *ngIf="(propertyData$ | async).protein as proteinPropertyList">
  <mat-radio-button #proteinPropertiesButton [value]="'protein'"
    (change)="OnPropertySelectionChange(proteinPropertyList)">{{proteinPropertyList.name}}
  </mat-radio-button>
</ng-container>

<ng-container *ngFor="let subunitPropertyList of (propertyData$ | async).subunits; let subunitIndex = index">
  <mat-radio-button [value]="'subunitIndex'"
    (change)="OnPropertySelectionChange(subunitPropertyList)">{{subunitPropertyList.name}}
  </mat-radio-button>
</ng-container> -->
